<div class="field {{if errors.length 'error'}}">
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}

  {{#if autoCommit}}

    {{component control
                value=(readonly value)

                onChange=(action handleChange)
    }}

  {{else}}

    {{#if isEditing}}
      {{component control
                  value=(readonly value)

                  onChange=(action handleChange)
      }}
      <div class="commit-cancel">
        <button type="button" {{action commit}}>Commit</button>
        <button type="button" {{action cancel}}>Cancel</button>
      </div>
    {{else}}
      <div class="value-container" {{action 'edit' on 'click'}}>
        (click to edit) {{value}}
      </div>
    {{/if}}

  {{/if}}



  <div class="errors">
    {{#each errors as |error|}}
      <div class="error">{{error}}</div>
    {{/each}}
  </div>
</div>

