Trying out Form For


<div style="display: flex">
  <div style="flex: 1">
    {{#form-for model as |f|}}

      {{#f.text 'bar' label='Bar' as |t| }}
        {{t.control placeholder='Some Place Holder'}}
      {{/f.text}}

    {{/form-for}}

    <button {{action toggleErrors}}>Toggle Errors</button>
  </div>

  <div style="flex: 1">
    {{#form-for model as |f|}}

      {{f.text 'bar' label='Bar'}}

    {{/form-for}}
  </div>

  <div style="flex: 1">

    <ul>
      <li>{{model.bar}}</li>
      <li>{{model.baz}}</li>
      <li>{{model.qux}}</li>
    </ul>

  </div>

</div>


