<div style="margin: 4em">

  <h1>Trying out Form For</h1>
  <div class="ui grid segment">

    <div class="six wide column">
      <h2>Form One</h2>

      {{#form-for model

                  onSubmit=(action 'setErrors')
                  onReset=(action 'resetErrors') as |f|}}

        {{f.field-for 'bar' using='text' label='No I AM A BAR' }}

        {{f.field-for 'baz' using='textarea' requireConfirm=true}}

        {{f.submit}}

        {{f.reset}}

      {{/form-for}}

    </div>

    <div class="six wide column">
      <h2>Form Two</h2>

      {{#form-for model as |f|}}

        {{f.field-for 'bar' using='text' label='Bar'}}

        {{f.field-for 'baz' using='textarea'}}

        {{f.field-for 'qux' using='textarea'}}

        {{f.field-for 'bar' 'qux' with-mapping=(hash qux='baz') label='Bar Baz' using='text-range' require-confirm=true}}

      {{/form-for}}
    </div>

    <div class="four wide column">
      <h3>Model Values</h3>
      <ul>
        <li>{{model.bar}}</li>
        <li>{{model.baz}}</li>
        <li>{{model.qux}}</li>
      </ul>
    </div>

  </div>
</div>
