Trying out Form For


<div style="display: flex">
  <div style="flex: 1">
    {{#form-for model as |f|}}

      {{f.text 'bar' label='Bar'}}

      {{f.text 'baz' label='Baz does not auto commit' autoCommit=false}}

      {{f.textarea 'qux' label='Qux' autoCommit=false}}

    {{/form-for}}


    <button {{action toggleErrors}}>Toggle Errors</button>
  </div>

  <div style="flex: 1">
    {{#form-for model as |f|}}

      {{f.text 'bar' label='Bar'}}

      {{f.text 'baz' label='Baz does not auto commit' autoCommit=false}}

      {{f.textarea 'qux' label='Qux' autoCommit=false}}

    {{/form-for}}
  </div>

  <div style="flex: 1">

    <ul>
      <li>{{model.bar}}</li>
      <li>{{model.baz}}</li>
      <li>{{model.qux}}</li>
    </ul>

  </div>

</div>


