Trying out Form For

<div style="display: flex">
  <div style="flex: 1">

    {{#form-for model as |f|}}

      {{#f.text 'bar' label='Test' as |fi|}}
        {{fi.control}}
      {{/f.text}}

      {{f.text 'baz' label='Test' autoCommit=false}}

      {{f.textarea 'qux' label='Test' autoCommit=false}}

    {{/form-for}}

    <button {{action toggleErrors}}>Toggle Errors</button>
  </div>

  <div style="flex: 1">
    {{#form-for model as |f|}}

      {{f.text 'bar' label='Test'}}

      {{f.text 'baz' label='Test'}}

      {{f.textarea 'qux' label='Test'}}

    {{/form-for}}
  </div>

  <div style="flex: 1">

    <ul>
      <li>{{model.bar}}</li>
      <li>{{model.baz}}</li>
      <li>{{model.qux}}</li>
    </ul>

  </div>

</div>

